/* Your CSS codes here */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 600px;
}

.outer {
    padding-bottom: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 600px;
}

@media (max-width: 785px) {
    body {
        /* Margin bottom by footer height */
        margin-bottom: 1121px;
    }

    .footer {
        /* Set the fixed height of the footer here */
        min-height: 1121px;
    }

    img {
        max-width: 100%;
    }

    .blog-masonry img {
        max-width: 90%;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 30px 0 5px;
}

h1 {
    font-size: 38px;
    line-height: 50px;
}

p {
    margin: 0 0 10px;
}

img.p-image {
    border: 0.3em solid rgba(248, 168, 65, 0.8);
    border-radius: 999em;
}

img.float-image {
    float: left;
    margin: 10px 10px 10px 0;
}

.image-block {
    margin: 20px;
}

.image-style-five .image-caption {
    top: 0;
}

.image-style-five .image-caption h4 {
    font-size: 15px;
}

.image-block h4 a {
    color: #FFDFA4;
}

@media screen and (min-width: 480px) {
    .tk-acumin-pro {
        font-size: 110%;
    }
}
    
@media screen and (min-width: 764px) {
    .tk-acumin-pro {
        font-size: 120%;
    }
    blockquote p {
        font-size: 100%;
    }
    .header-2 .navy {
        margin-top: 40px;
    }
    .header-2 .navy > ul > li > a {
        font-size: 120%;
    }
}
    
@media screen and (min-width: 940px) {
    .tk-acumin-pro {
        font-size: 130%;
    }
    blockquote p {
        font-size: 110%;
    }
    .header-2 .navy > ul > li > a {
        font-size: 150%;
    }
}

.team-six .team-member {
    min-height: 400px;
}

@media screen and (min-width: 768px) {
    .header-2 .col-md-6 {
        width: 50%;
        float: left;
    }
    .header-2 .navy {
        float: right;
    }
}

.page-heading-two h2 {
    margin: 0;
    font-weight: bold;
    line-height: 30px;
}

.page-heading-two h2 span {
    margin-left: 0 !important;
    font-weight: normal;    
    display: block;
}