/* Your CSS codes here */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 350px;
}
.outer {
    padding-bottom: 350px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 350px;
}

.image-style-five .image-caption {
    top: 0%;
}