/* Your CSS codes here */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 600px;
}

.outer {
    padding-bottom: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 600px;
}

@media (max-width: 785px) {
    body {
        /* Margin bottom by footer height */
        margin-bottom: 1121px;
    }

    .footer {
        /* Set the fixed height of the footer here */
        min-height: 1121px;
    }

    img {
        max-width: 100%;
    }

    .blog-masonry img {
        max-width: 90%;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px 0;
}

p {
    margin: 10px 0;
}

img.p-image {
    border: 0.3em solid rgba(248, 168, 65, 0.8);
    border-radius: 999em;
}

img.float-image {
    float: left;
    margin: 10px 10px 10px 0;
}

.image-block {
    margin: 20px;
}

.image-style-five .image-caption {
    top: 0;
}

.image-style-five .image-caption h4 {
    font-size: 15px;
}

.image-block h4 a {
    color: #FFDFA4;
}

.tk-acumin-pro {
    font-size: 130%;
}
