---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

///
/// CSS in this file was pasted from the old CSS files and might need some refactoring.
///



@font-face {
  font-family: 'Futura Md BT';
  src: url('../fonts/FuturaBT-Medium.eot');
  src: url('../fonts/FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaBT-Medium.woff2') format('woff2'),
  url('../fonts/FuturaBT-Medium.woff') format('woff'),
  url('../fonts/FuturaBT-Medium.ttf') format('truetype'),
  url('../fonts/FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

.responsive-embed-youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  padding-top: 25px;
}

.responsive-embed-youtube iframe {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

.clear {
  clear: both;
}

img.p-image {
  border: 0.3em solid rgba(248, 168, 65, 0.8);
  border-radius: 999em;
}

//float-image is deprecated => use a span around the image with class="image left"
/*img.float-image {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  img.float-image {
    float: left;
    margin: 10px 30px 10px 0;
  }
}*/

.image-block {
  margin: 20px;
}

.image-style-five .image-caption {
  top: 0;
}

.image-style-five .image-caption h4 {
  font-size: 15px;
}

.image-block h4 a {
  color: #FFDFA4;
}

@media screen and (min-width: 480px) {
  .tk-acumin-pro {
    font-size: 110%;
  }
}

@media screen and (min-width: 764px) {
  .tk-acumin-pro {
    font-size: 120%;
  }

  blockquote p {
    font-size: 100%;
  }

  .header-2 .navy {
    margin-top: 40px;
  }

  .header-2 .navy > ul > li > a {
    font-size: 120%;
  }
}

@media screen and (min-width: 940px) {
  .tk-acumin-pro {
    font-size: 130%;
  }

  blockquote p {
    font-size: 110%;
  }

  .header-2 .navy > ul > li > a {
    font-size: 150%;
  }
}

.team-six .team-member {
  min-height: 400px;
}

.page-heading-two h2 {
  margin: 0;
  line-height: 30px;
}

.page-heading-two h2 span {
  margin-left: 0 !important;
  font-weight: normal;
  display: block;
}

.figures {
  margin-top: 2em;
  text-align: center;
}

.figures a,
.figures figure {
  display: inline-block;
}

ul.actions a.disabled {
  padding: 5px;
  color: #e37c30;
  background: #fff;
  border: 0;
}

.search-page {
  .content {
    text-align: left;
  }

  .major {
    border: 0 none;
  }
}

.search-form {
  margin: 0;

  input {
    color: #fff;
    font-family: "Futura Md BT",Helvetica,sans-serif;
    height: 38px;

    @media screen and (min-width: 1281px) {
      height: 41px;
    }

    @media screen and (min-width: 1681px) {
      height: 52px;
    }
  }

  input::-webkit-input-placeholder {
    color: #ccc !important;
  }
}

.header-logo {
  vertical-align: top;
  width: 150px;
}

.header-search {
  margin: 0 5px 0 0;
  display: none;
  float: left;

  @media screen and (min-width: 737px) {
    display: block;
  }
}
