---
---

/**
 * Syntax highlighting styles
 */
.highlight {
    background: #FFFFFF;
    color: #929292;

    .bp    { color: #545454; } // Name.Builtin.Pseudo
    .c     { color: #929292; font-style: italic; } // Comment
    .cm    { color: #929292; font-style: italic; } // Comment.Multiline
    .cp    { color: #929292; font-weight: bold; } // Comment.Preproc
    .cs    { color: #929292; font-weight: bold; font-style: italic; } // Comment.Special
    .c1    { color: #929292; font-style: italic; } // Comment.Single
    .err   { color: #FFFFFF; background-color: #C82829; } // Error
    .gd    { color: #C82829; } // Generic.Deleted
    .ge    { font-style: italic; } // Generic.Emph
    .gh    { color: #545454; font-weight: bold; } // Generic.Heading
    .gi    { color: #718C00; } // Generic.Inserted
    .gp    { color: #718C00; font-weight: bold; } // Generic.Prompt
    .gs    { font-weight: bold; } // Generic.Strong
    .gu    { color: #3E999F; font-weight: bold; } // Generic.Subheading
    .il    { color: #F5871F; } // Literal.Number.Integer.Long
    .k     { color: #8959A8; } // Keyword
    .kc    { color: #8959A8; } // Keyword.Constant
    .kd    { color: #8959A8; } // Keyword.Declaration
    .kn    { color: #3E999F; }
    .kp    { color: #4271AE; } // Keyword.Pseudo
    .kr    { color: #8959A8; } // Keyword.Reserved
    .kt    { color: #8959A8; } // Keyword.Type
    .l     { color: #F5871F; }
    .ld    { color: #718C00; }
    .m     { color: #F5871F; } // Literal.Number
    .mf    { color: #F5871F; } // Literal.Number.Float
    .mh    { color: #F5871F; } // Literal.Number.Hex
    .mi    { color: #F5871F; } // Literal.Number.Integer
    .mo    { color: #F5871F; } // Literal.Number.Oct
    .n     { color: #585858; }
    .na    { color: #4271AE; } // Name.Attribute
    .nb    { color: #4271AE; } // Name.Builtin
    .nc    { color: #585858; font-weight: bold; } // Name.Class
    .nd    { color: #3E999F; }
    .ne    { color: #C82829; } // Name.Exception
    .nf    { color: #4271AE; } // Name.Function
    .ni    { color: #545454; } // Name.Entity
    .nl    { color: #545454; }
    .nn    { color: #EAB700; } // Name.Namespace
    .no    { color: #EAB700; } // Name.Constant
    .nt    { color: #3E999F; } // Name.Tag
    .nv    { color: #C82829; } // Name.Variable
    .nx    { color: #4271AE; }
    .o     { color: #545454; } // Operator
    .ow    { color: #3E999F; } // Operator.Word
    .p     { color: #929292; }
    .py    { color: #545454; }
    .s     { color: #718C00; } // Literal.String
    .sb    { color: #718C00; } // Literal.String.Backtick
    .sc    { color: #545454; } // Literal.String.Char
    .sd    { color: #929292; } // Literal.String.Doc
    .se    { color: #F5871F; } // Literal.String.Escape
    .sh    { color: #718C00; } // Literal.String.Heredoc
    .si    { color: #F5871F; } // Literal.String.Interpol
    .sr    { color: #718C00; } // Literal.String.Regex
    .ss    { color: #718C00; } // Literal.String.Symbol
    .sx    { color: #718C00; } // Literal.String.Other
    .s1    { color: #718C00; } // Literal.String.Single
    .s2    { color: #718C00; } // Literal.String.Double
    .vc    { color: #C82829; } // Name.Variable.Class
    .vg    { color: #C82829; } // Name.Variable.Global
    .vi    { color: #C82829; } // Name.Variable.Instance
    .w     { color: #545454; }
}