---
layout: default
---

<!-- blog One -->
<div class="blog-masonry">
    <div class="row">

        <!-- Sidebar column -->
        <div class="col-md-4">
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Categories Widget -->
                <div class="s-widget">
                    <!-- Heading -->
                    <h5><i class="fa fa-folder color"></i>&nbsp; Categories</h5>
                    <!-- Widgets Content -->
                    <div class="widget-content categories">
                        <ul class="list-6">
                            {% for cat in site.data.categories %}
                            <li><a href="/category/{{cat[0]}}.html">{{cat[1].name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <!-- Tag Widget -->
                <div class="s-widget">
                    <h5><i class="fa fa-tags color"></i>&nbsp; Tags</h5>
                    <!-- Widgets Content -->
                    <div class="widget-content">
                        {% for tag in site.data.tags %}
                        <a href="/tag/{{tag[0]}}.html" class="label label-color">{{tag[1].name}}</a>
                        {% endfor %}
                    </div>
                </div>

                <!-- Social media widget -->
                <div class="s-widget">
                    <h5><i class="fa fa-share color"></i>&nbsp; Social Media</h5>
                    <!-- Widgets Content -->
                    <div class="widget-content brand-bg">
                        <!-- Social Media Icons -->
                        <a target="_blank" href="https://www.facebook.com/lifeatordinabe" class="facebook"><i
                                class="fa fa-facebook square-3 rounded-1"></i></a>
                        <a target="_blank" href="https://twitter.com/lifeatordinabe" class="twitter"><i
                                class="fa fa-twitter square-3 rounded-1"></i></a>
                        <a target="_blank" href="https://plus.google.com/113222464071666722451/videos" class="google-plus"><i
                                class="fa fa-google-plus square-3 rounded-1"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/company/ordina-belgium" class="linkedin"><i
                                class="fa fa-linkedin square-3 rounded-1"></i></a>
                        <a target="_blank" href="https://github.com/ordina-oraj" class="github"><i
                                class="fa fa-github square-3 rounded-1"></i></a>
                        <a target="_blank" href="https://www.youtube.com/channel/UCYP5uoJpDFU4v47ElI_k6xg" class="youtube"><i
                                class="fa fa-youtube square-3 rounded-1"></i></a>
                    </div>
                </div>

            </div>
        </div>

        <!-- Mainbar column -->
        <div class="col-md-8">
            {% for post in site.posts %}
            <!-- Grid Item - Image, Heading and Para -->
            <div class="item">
                <!-- Entry for each grid -->
                <div class="grid-entry">
                    <!-- Grid Image Container -->
                    <div class="grid-img">
                        <!-- Image -->
                        <img src="/img/gallery/small/1.jpg" class="img-responsive" alt=""/>
                        <!-- Grid Image Hover Effect -->
                        <span class="grid-img-hover"></span>
                        <a href="/img/gallery/small/1.jpg" class="lightbox">
                            <i class="fa fa-search hover-icon"></i>
                        </a>
                    </div>
                    <!-- Grid entry information -->
                    <div class="entry-info">
                        <!-- Heading -->
                        <h4><a href="#">Donec ultres lectus ut consequat lectus sees scelerisque</a></h4>

                        <div class="bor"></div>
                        <!-- Paragraph -->
                        <p>Studious update veldt sees veldt sees quad quad nil molest. Lorem ipsum dolor sit amet,
                            consectetu.</p>
                        <a href="#" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Grid Item - Image, Heading and Para -->
            <div class="item">
                <!-- Entry for each grid -->
                <div class="grid-entry">
                    <!-- Grid Image Container -->
                    <div class="grid-img">
                        <!-- Image -->
                        <img src="/img/gallery/small/1.jpg" class="img-responsive" alt=""/>
                        <!-- Grid Image Hover Effect -->
                        <span class="grid-img-hover"></span>
                        <a href="/img/gallery/small/1.jpg" class="lightbox">
                            <i class="fa fa-search hover-icon"></i>
                        </a>
                    </div>
                    <!-- Grid entry information -->
                    <div class="entry-info">
                        <!-- Heading -->
                        <h4><a href="#">Donec ultres lectus ut consequat lectus sees scelerisque</a></h4>

                        <div class="bor"></div>
                        <!-- Paragraph -->
                        <p>Studious update veldt sees veldt sees quad quad nil molest. Lorem ipsum dolor sit amet,
                            consectetu.</p>
                        <a href="#" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Grid Item - Image, Heading and Para -->
            <div class="item">
                <!-- Entry for each grid -->
                <div class="grid-entry">
                    <!-- Grid Image Container -->
                    <div class="grid-img">
                        <!-- Image -->
                        <img src="/img/gallery/small/1.jpg" class="img-responsive" alt=""/>
                        <!-- Grid Image Hover Effect -->
                        <span class="grid-img-hover"></span>
                        <a href="/img/gallery/small/1.jpg" class="lightbox">
                            <i class="fa fa-search hover-icon"></i>
                        </a>
                    </div>
                    <!-- Grid entry information -->
                    <div class="entry-info">
                        <!-- Heading -->
                        <h4><a href="#">Donec ultres lectus ut consequat lectus sees scelerisque</a></h4>

                        <div class="bor"></div>
                        <!-- Paragraph -->
                        <p>Studious update veldt sees veldt sees quad quad nil molest. Lorem ipsum dolor sit amet,
                            consectetu.</p>
                        <a href="#" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Grid Item - Image, Heading and Para -->
            <div class="item">
                <!-- Entry for each grid -->
                <div class="grid-entry">
                    <!-- Grid Image Container -->
                    <div class="grid-img">
                        <!-- Image -->
                        <img src="/img/gallery/small/1.jpg" class="img-responsive" alt=""/>
                        <!-- Grid Image Hover Effect -->
                        <span class="grid-img-hover"></span>
                        <a href="/img/gallery/small/1.jpg" class="lightbox">
                            <i class="fa fa-search hover-icon"></i>
                        </a>
                    </div>
                    <!-- Grid entry information -->
                    <div class="entry-info">
                        <!-- Heading -->
                        <h4><a href="#">Donec ultres lectus ut consequat lectus sees scelerisque</a></h4>

                        <div class="bor"></div>
                        <!-- Paragraph -->
                        <p>Studious update veldt sees veldt sees quad quad nil molest. Lorem ipsum dolor sit amet,
                            consectetu.</p>
                        <a href="#" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Grid Item - Image, Heading and Para -->
            <div class="item">
                <!-- Entry for each grid -->
                <div class="grid-entry">
                    <!-- Grid Image Container -->
                    <div class="grid-img">
                        <!-- Image -->
                        <img src="/img/gallery/small/1.jpg" class="img-responsive" alt=""/>
                        <!-- Grid Image Hover Effect -->
                        <span class="grid-img-hover"></span>
                        <a href="/img/gallery/small/1.jpg" class="lightbox">
                            <i class="fa fa-search hover-icon"></i>
                        </a>
                    </div>
                    <!-- Grid entry information -->
                    <div class="entry-info">
                        <!-- Heading -->
                        <h4><a href="#">Donec ultres lectus ut consequat lectus sees scelerisque</a></h4>

                        <div class="bor"></div>
                        <!-- Paragraph -->
                        <p>Studious update veldt sees veldt sees quad quad nil molest. Lorem ipsum dolor sit amet,
                            consectetu.</p>
                        <a href="#" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Grid Item - Image, Heading and Para -->
            <div class="item">
                <!-- Entry for each grid -->
                <div class="grid-entry">
                    <!-- Grid Image Container -->
                    <div class="grid-img">
                        <!-- Image -->
                        <img src="/img/gallery/small/1.jpg" class="img-responsive" alt=""/>
                        <!-- Grid Image Hover Effect -->
                        <span class="grid-img-hover"></span>
                        <a href="/img/gallery/small/1.jpg" class="lightbox">
                            <i class="fa fa-search hover-icon"></i>
                        </a>
                    </div>
                    <!-- Grid entry information -->
                    <div class="entry-info">
                        <!-- Heading -->
                        <h4><a href="#">Donec ultres lectus ut consequat lectus sees scelerisque</a></h4>

                        <div class="bor"></div>
                        <!-- Paragraph -->
                        <p>Studious update veldt sees veldt sees quad quad nil molest. Lorem ipsum dolor sit amet,
                            consectetu.</p>
                        <a href="#" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Grid Item - Image, Heading and Para -->
            <div class="item">
                <!-- Entry for each grid -->
                <div class="grid-entry">
                    <!-- Grid Image Container -->
                    <div class="grid-img">
                        <!-- Image -->
                        <img src="/img/gallery/small/1.jpg" class="img-responsive" alt=""/>
                        <!-- Grid Image Hover Effect -->
                        <span class="grid-img-hover"></span>
                        <a href="/img/gallery/small/1.jpg" class="lightbox">
                            <i class="fa fa-search hover-icon"></i>
                        </a>
                    </div>
                    <!-- Grid entry information -->
                    <div class="entry-info">
                        <!-- Heading -->
                        <h4><a href="#">Donec ultres lectus ut consequat lectus sees scelerisque</a></h4>

                        <div class="bor"></div>
                        <!-- Paragraph -->
                        <p>Studious update veldt sees veldt sees quad quad nil molest. Lorem ipsum dolor sit amet,
                            consectetu.</p>
                        <a href="#" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <ul class="pagination">
                <!-- List -->
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>