Posted {{ page.date | date: "%b %-d, %Y" }}

{% if page.category %}
    in <a href="/categories/{{ page.category | downcase | replace:' ','-' }}/">{{ page.category }}</a>
{% endif %}

{% if page.authors != empty %}
    by
    {% for author in page.authors %}
        <a href="{{ author.permalink | prepend: site.baseurl }}">{{author.first_name}} {{author.last_name}}</a>
        {% if forloop.last == false %}
            {% if forloop.rindex0 == 1 %}
                 and 
        {% else %}
                , 
            {% endif %}
        {% endif%}
    {% endfor %}
{% endif %}

{% if page.tags and page.tags != empty %}
    <br/>
    <i class="fa fa-tags"></i>
    {% for tag in page.tags %}
        <a href="/tags/{{ tag | downcase | replace:' ','-' }}/">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
    {% endfor %}
{% endif %}