<footer>
    <div class="contact">
        <div class="address">
            <div class="icon"><i class="fa fa-fw fa-home"></i></div>
            <div class="text">Ordina Belgium<br/>Blarenberglaan 3B,<br/>2800 Mechelen, Belgium</div>
        </div>
        <div class="phone">
            <div class="icon"><i class="fa fa-fw fa-phone"></i></div>
            <div class="text"><a href="tel:003215295858">+32 15 29 58 58</a></div>
        </div>
        <div class="email">
            <div class="icon"><i class="fa fa-fw fa-envelope-o"></i></div>
            <div class="text"><a href="mailto:jworks@ordina.be">jworks@ordina.be</a></div>
        </div>
    </div>
    <ul class="social">
        <li>
            <a href="https://twitter.com/lifeatordinabe" target="_blank">
                <i class="fa fa-fw fa-twitter"></i><span>Twitter</span>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/lifeatordinabe" target="_blank">
                <i class=" fa fa-fw fa-facebook"></i><span>Facebook</span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/ordina-belgium" target="_blank">
                <i class=" fa fa-fw fa-linkedin"></i><span>LinkedIn</span>
            </a>
        </li>
        <li>
            <a href="https://plus.google.com/113222464071666722451" target="_blank">
                <i class=" fa fa-fw fa-google-plus"></i><span>Google+</span>
            </a>
        </li>
        <li>
            <a href="/youtube" target="_blank">
                <i class=" fa fa-fw fa-youtube"></i><span>YouTube</span>
            </a>
        </li>
        <li>
            <a href="/github" target="_blank">
                <i class=" fa fa-fw fa-github"></i><span>GitHub</span>
            </a>
        </li>
        <li>
            <a href="/feed.xml" target="_blank">
                <i class=" fa fa-fw fa-rss"></i><span>RSS Feed</span>
            </a>
        </li>
    </ul>
    <div class="copyright">
        &copy; {{site.time | date: "%Y" }} Ordina JWorks. All rights reserved.
        <br /> Disclaimer: Opinions expressed on this blog reflect the writer's views and not the position of Ordina
        <img id="analyticsImg" src="" width="1" height="1" style="border: 0px"/>
    </div>
</footer>