<!-- Sidebar column -->
<div class="col-md-3">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Categories Widget -->
        <div class="s-widget">
            <!-- Heading -->
            <h5><i class="fa fa-folder color"></i>&nbsp; Categories</h5>
            <!-- Widgets Content -->
            <div class="widget-content ">
            </div>
        </div>

        <!-- Tag Widget -->
        <div class="s-widget">
            <h5><i class="fa fa-tags color"></i>&nbsp; Tags</h5>
            <!-- Widgets Content -->
            <div class="widget-content">
            </div>
        </div>

    </div>
</div>