{% if include.author %}
<ul class="team-member-links">
    <li class="team-member-link">
        {% if include.author.phone %}<a href="tel:{{ include.author.phone }}">{% endif %}
        <i class="fa fa-phone"></i>
        <span class="label">Phone</span>
        {% if include.author.phone %}</a>{% endif %}
    </li>
    <li class="team-member-link">
        {% if include.author.email %}<a href="mailto:{{ include.author.email }}">{% endif %}
        <i class="fa fa-envelope-o"></i>
        <span class="label">Email</span>
        {% if include.author.email %}</a>{% endif %}
    </li>
    <li class="team-member-link">
        {% if include.author.twitter %}<a href="https://www.twitter.com/{{ include.author.twitter }}" target="_blank">{% endif %}
        <i class="fa fa-twitter"></i>
        <span class="label">Twitter</span>
        {% if include.author.twitter %}</a>{% endif %}
    </li>
    <li class="team-member-link">
        {% if include.author.github %}<a href="https://www.github.com/{{ include.author.github }}" target="_blank">{% endif %}
        <i class="fa fa-github"></i>
        <span class="label">GitHub</span>
        {% if include.author.github %}</a>{% endif %}
    </li>
    <li class="team-member-link">
        {% if include.author.linkedin %}<a href="https://be.linkedin.com/in/{{ include.author.linkedin }}" target="_blank">{% endif %}
        <i class="fa fa-linkedin"></i>
        <span class="label">LinkedIn</span>
        {% if include.author.linkedin %}</a>{% endif %}
    </li>
</ul>
{% endif %}