ul.tabs {
  display: table;
  list-style-type: none;
  margin-bottom: 4px;
  padding: 0;
}

ul.tabs>li {
  float: left;
  padding: 6px 12px;
  color: $jworks_orange;
  display: inline-block;
  cursor: pointer;
  border: 2px solid $jworks_orange;
  margin-right: 2px;
  border-radius: 5px;

  a, a:hover {
    border-bottom: 0;
  }
}

ul.tabs>li:hover {
  background-color: #928f8c;

  a:hover {
    color: #fff;
  }
}

ul.tabs>li.selected {
  background-color: $jworks_orange;
  color: #fff;
  border-color: $jworks_orange;

  a{
    color: #fff;
  }

  a:hover {
    color: #fff;
  }
}

div.tab-content {
  display: none;
}

div.tab-content.selected {
  display: block;
}

ul { overflow: auto; }