---
layout: default
---

<section class="wrapper style1">
    <div class="inner">
        <h1>More information about {{ page.author.first_name }}</h1>
        {% if page.author.bio %}
            {{ page.author.bio | markdownify }}
        {% endif %}
    </div>
</section>
{% if page.author.posts.size > 0 %}
<section class="wrapper alt style2">
    <div class="inner">
        <h1>Articles</h1>
        {% for post in page.author.posts %}
            <div class="post">
                <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}