<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
    {% include header-default-meta.html %}

    <title>{{ page.title }}, {{ page.author.title }} &mdash; {{ site.title }}</title>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.author.title }}">
    <meta name="twitter:image" content="http://ordina-jworks.github.io{{ '/img/author/' | append: page.author.avatar }}"/>

    <!-- Facebook Open Graph -->
    <meta property="og:url" content="http://ordina-jworks.github.io{{ page.url }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:description" content="{{ page.author.title }}"/>
    <meta property="og:image" content="http://ordina-jworks.github.io{{ '/img/author/' | append: page.author.avatar }}"/>

    {% include header-styles-scripts.html %}
</head>

<body>
<div id="header-image"></div>


<!-- Page Wrapper -->
<div id="page-wrapper">

    {% include header-navigation-banner.html %}

    <section id="wrapper">
        <div class="inner">
            <section class="wrapper style1">
                <div class="inner">
                    <h1>More information about {{ page.author.first_name }}</h1>
                    {% if page.author.bio %}
                        {{ page.author.bio | markdownify }}
                    {% endif %}
                </div>
            </section>

            {% capture posts %}
            {% for post in site.posts %}
                {% if post.authors contains page.author %}
                <div class="post">
                    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
                </div>
                {% endif %}
            {% endfor %}
            {% endcapture %}

            {% if posts contains 'class="post"' %}
            <section class="wrapper alt style2">
                <div class="inner">
                    <h1>Articles</h1>
                    {{ posts }}
                </div>
            </section>
            {% endif %}
        </div>
    </section>
</div>

<div id="over"></div>

{% include footer.html %}
{% include footer-scripts.html %}

</body>
</html>