---
layout: default
---
{% assign author = site.data.authors[page.author] %}
<div class="row">
    <div class="col-md-3 col-sm-12">
        <div class="team-six">
            <!-- Team Member -->
            <div class="team-member">
                <!-- Image -->
                <img class="img-responsive" src="{{ '/img/author/' | append: author.avatar | prepend: site.baseurl }}"
                     alt="{{ author.name }}"/>
                <!-- Name -->
                <h4>{{ author.name }}</h4>
                <span class="deg">{{ author.title }}</span>
                {% if author.title2 %}
                <div class="clearfix"></div>
                <span class="deg">{{ author.title2 }}</span>
                {% endif %}
                <!-- Team Links -->
                <div class="team-links">
                    {% if author.email %}
                    <a href="mailto:{{ author.email }}"><i class="fa fa-envelope"></i></a>
                    {% endif %}
                    {% if author.twitter %}
                    <a href="https://www.twitter.com/{{ author.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                    {% endif %}
                    {% if author.github %}
                    <a href="https://www.github.com/{{ author.github }}" target="_blank"><i class="fa fa-github"></i></a>
                    {% endif %}
                    {% if author.linkedin %}
                    <a href="https://be.linkedin.com/in/{{ author.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                    {% endif %}
                    {% if author.phone %}
                    <a href="tel:{{ author.phone }}"><i class="fa fa-phone"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-12">
        {{ content }}
    </div>
</div>