---
layout: default
---

<!-- blog One -->
<div class="row">
    <!-- Mainbar column -->
    <div class="col-md-9">
        <header id="post-header">
            <h4 id="post-subtitle">Posts by category</h4>
            <h1 id="post-title">{{ page.category }}</h1>
        </header>

        <div class="row blog-masonry">
            {% for post in site.posts %}
                {% if post.categories contains page.category %}
                    <!-- Grid Item - Image, Heading and Para -->
                    <div class="item">
                        <!-- Entry for each grid -->
                        <div class="grid-entry">
                            <!-- Grid Image Container -->
                            <div class="grid-img">
                                <!-- Image -->
                                <a href="{{post.url}}" class="read-more"><img src="{{post.image}}" class="img-responsive" alt=""/></a>
                            </div>
                            <!-- Grid entry information -->
                            <div class="entry-info">
                                <!-- Heading -->
                                <h4><a href="{{post.url}}">{{post.title}}</a></h4>

                                <div class="bor"></div>
                                <!-- Paragraph -->
                                <p>{{post.heading}}</p>
                                <a href="{{post.url}}" class="read-more">Read More <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <!-- Pagination -->
            {% if paginator.total_pages > 1 %}
            <nav class="col-md-9">
                <ul class="pagination center-block">
                    {% if paginator.previous_page %}
                        <li>
                          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                    {% endif %}
                    {% for page in (1..paginator.total_pages) %}
                        {% if page == 1 %}
                            {% capture url %}
                                {{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}
                            {% endcapture %}
                        {% else %}
                            {% capture url %}
                                {{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}
                            {% endcapture %}
                        {% endif %}
                        <li><a href="{{ url }}" {% if page == paginator.page %}class="disabled"{% endif %}>{{ page }}</a></li>
                    {% endfor %}
                    {% if paginator.next_page %}
                        <li>
                          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
            <!-- End Pagination -->
        </div>
    </div>

    {% include sidebar.html %}
</div>
