---
layout: default
---

<section id="one" class="wrapper spotlight style1">
    <div class="inner">
        <div class="content">
            <section class="features">

                {% for post in page.posts reversed %}
                <article  onclick="location.href = '{{ post.url}}'">
                    <a href="{{post.url}}">
                        <img src="{{post.image}}" alt="" class="article-image">
                        <h3 class="major">{{post.title}}</h3>
                    </a>

                    <p>{{ post.date | date_to_string }} {{post.heading}}</p>
                    <a href="{{post.url}}" class="special">Read more</a>
                </article>
                {% endfor %}

            </section>
        </div>
    </div>
</section>

{% if page.other_categories != empty %}
    <section id="two" class="wrapper alt style3">
        <div class="inner">
            <div class="content">
                <h2 class="major">Other categories</h2>

                <ul class="list-6 categories">
                    {% for category in page.other_categories %}
                        <li><a href="{{ category.permalink }}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
{% endif %}