---
layout: default
---

<section id="one" class="wrapper spotlight style1">
    <div class="inner">
        <div class="content">
            <section class="features">

                {% for post in page.posts reversed %}
                    <article  onclick="location.href = '{{ post.url}}'">
                        <a href="{{post.url}}">
                            <img src="{{post.image}}" alt="" class="article-image">
                            <h3 class="major">{{post.title}}</h3>
                        </a>

                        <p>{{ post.date | date_to_string }} {{post.heading}}</p>
                        <a href="{{post.url}}" class="special">Read more</a>
                    </article>
                {% endfor %}

            </section>
        </div>
    </div>
</section>

{% if page.other_tags != empty %}
    <section id="two" class="wrapper alt style3">
        <div class="inner">
            <div class="content">
                <h2 class="major">Other tags</h2>

                <div class="category-list left">
                    {% assign shown_tags = '' %}
                    {% for tag in site.tags %}{% assign tag_ = tag[0] | downcase | replace:' ','-' %}
                    {% unless shown_tags contains tag_ %}
                    <a href="/tags/{{tag_ }}"> <i class="fa fa-tag fa-fw"></i>{{tag[0]}}</a>
                    {% assign shown_tags = shown_tags | append: ', ' | append: tag_ %}
                    {% endunless %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endif %}