<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
    {% include header-default-meta.html %}

    {% if page.layout == 'post' %}

        {% if page.authors != empty %}
            {% capture authors_social %} - {% for author in page.authors %}{{author.first_name}} {{author.last_name}}{% if forloop.last == false %}{% if forloop.rindex0 == 1 %} and {% else %}, {% endif %}{% endif%}{% endfor %}{% endcapture %}
        {% endif %}

    {% endif %}

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}{% if authors_social %}{{ authors_social }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:image" content="{% if page.imagesocial %}http://ordina-jworks.github.io{{ page.imagesocial }}{% else %}{% if page.image %}http://ordina-jworks.github.io{{ page.image }}{% else %}http://ordina-jworks.github.io/img/jworks/jworks-400x400.png{% endif %}{% endif %}"/>

    <!-- Facebook Open Graph -->
    <meta property="og:url" content="http://ordina-jworks.github.io{{ page.url }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title }}{% if authors_social %}{{ authors_social }}{% endif %}"/>
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.title }}{% endif %}"/>
    <meta property="og:image" content="{% if page.imagesocial %}http://ordina-jworks.github.io{{ page.imagesocial }}{% else %}{% if page.image %}http://ordina-jworks.github.io{{ page.image }}{% else %}http://ordina-jworks.github.io/img/jworks/jworks-1200x630.png{% endif %}{% endif %}"/>

    {% if page.layout == 'post' %}
    <title>{{ page.title }}{% if authors_social %}{{ authors_social }}{% endif %} &mdash; {{ site.title }}</title>
    {% else %}
        {% if page.url == '/' %}
        <title>{{ site.title }}</title>
        {% else %}
        <title>{{ page.title }} &mdash; {{ site.title }}</title>
        {% endif %}
    {% endif %}

    {% include header-styles-scripts.html %}
</head>

<body>
<div id="header-image"></div>


<!-- Page Wrapper -->
<div id="page-wrapper">

    {% include header-navigation-banner.html %}

    <section id="wrapper">
        <div class="inner">
            {{content}}
        </div>
    </section>
</div>

{% if page.layout != 'post' %}
<div id="over"></div>
{% endif %}

{% include footer.html %}
{% include footer-scripts.html %}

</body>
</html>
