<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
    {% include header-default-meta.html %}

    {% if page.layout == 'post' %}
        {% for author in page.authors %}
            {% capture authors %}{{ authors | default: ' -' }} {{author.first_name}} {{author.last_name}}{% endcapture %}
            {% if forloop.last != true %}
                {% if forloop.rindex0 == 1 %}
                     {% capture authors %}{{ authors }} and{% endcapture %}
                {% else %}
                    {% capture authors %}{{ authors }},{% endcapture %}
                {% endif %}
            {% endif%}
        {% endfor %}
    {% endif %}

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}{% if authors %}{{ authors }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:image" content="{% if page.imagesocial %}http://ordina-jworks.github.io{{ page.imagesocial }}{% else %}{% if page.image %}http://ordina-jworks.github.io{{ page.image }}{% else %}http://ordina-jworks.github.io/img/jworks/jworks-400x400.png{% endif %}{% endif %}"/>

    <!-- Facebook Open Graph -->
    <meta property="og:url" content="http://ordina-jworks.github.io{{ page.url }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title }}{% if authors %}{{ authors }}{% endif %}"/>
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.title }}{% endif %}"/>
    <meta property="og:image" content="{% if page.imagesocial %}http://ordina-jworks.github.io{{ page.imagesocial }}{% else %}{% if page.image %}http://ordina-jworks.github.io{{ page.image }}{% else %}http://ordina-jworks.github.io/img/jworks/jworks-400x400.png{% endif %}{% endif %}"/>

    {% if page.layout == 'post' %}
    <title>{{ page.title }}{% if authors %}{{ authors }}{% endif %} &mdash; {{ site.title }}</title>
    {% else %}
        {% if page.url == '/' %}
        <title>{{ site.title }}</title>
        {% else %}
        <title>{{ page.title }} &mdash; {{ site.title }}</title>
        {% endif %}
    {% endif %}

    {% include header-styles-scripts.html %}
</head>

<body>
<div id="header-image"></div>


<!-- Page Wrapper -->
<div id="page-wrapper">

    {% include header-navigation-banner.html %}

    <section id="wrapper">
        <div class="inner">
            {{content}}
        </div>
    </section>
</div>

<div id="over"></div>

{% include footer.html %}
{% include footer-scripts.html %}

</body>
</html>
