---
layout: default
---

<section id="one" class="wrapper spotlight style1">
    <div class="inner">
        <div class="content">
            <h2 class="major">Can't wait to use Angular 2 on your next project?</h2>

            <p>The current <span class="accentuate">frontend technologies</span> allow us to create fast, reliable and
                easy to maintain applications that are accessible on a wide set of devices ranging from smartphones to
                tablets to desktop computers. More importantly, they can be created for multiple platforms using a
                single code base. This applies to both web applications and hybrid mobile applications. A single code
                base means less recurring errors and is easier to maintain and test. At Ordina JWorks, we embrace
                technologies such as <span class="accentuate">Angular 2</span> and <span
                        class="accentuate">Ionic 2</span> and apply them in a number of high-profile projects.</p>
        </div>
    </div>
</section>

<section id="two" class="wrapper alt spotlight style2">
    <div class="inner">
        <div class="content">
            <h2 class="major">Wat moet je kunnen?</h2>

            <p>
            <ul>
                <li>Je beschikt over een Bachelor- of Masterdiploma, of je kan gelijkwaardig aantonen door ervaring.
                </li>
                <li>Je hebt zeer goede kennis van JavaScript (ES5) en <span class="accentuate">AngularJS</span>.</li>
                <li>Dependency management doe je via Bower of je maakt gebruik van npm packages.</li>
                <li>Je kan overweg met <span class="accentuate">NodeJS</span> en weet hoe aan de slag te gaan met task
                    runners zoals Gulp/Grunt en
                    module bundlers zoals <span class="accentuate">Webpack</span>.
                </li>
                <li>Testing zit in de vingers en Jasmine, Karma, <span class="accentuate">Protractor</span>, Selenium en
                    Mocha zijn geen onbekenden.
                </li>
                <li>Extra punten kan je verdienen door kennis van <span class="accentuate">TypeScript</span>,
                    <span class="accentuate">ES6</span>,
                    <span class="accentuate">Ionic</span>, <span class="accentuate">React</span> en responsive
                    frameworks zoals Bootstrap of Foundation.
                </li>
                <li>
                    Je werkt klantgericht, je hebt een dienstverlenende ingesteldheid, je bent een team player die
                    initiatief neemt en stelt je flexibel en stressbestendig op.
                </li>
                <li>
                    Daarnaast kan je je mannetje staan in het Nederlands en/of Frans en Engels.
                </li>
            </ul>
            </p>
        </div>
    </div>
</section>

<section id="three" class="wrapper spotlight style3">
    <div class="inner">
        <div class="content" style="text-align: left;">
            <h2 class="major">Wat biedt Ordina?</h2>

            <p>
                Een leuk en competitief salarispakket met voordelen zoals overal, maar daarbovenop...
            </p>

            <ul>
                <li>Veel, héél veel, ontzettend veel uitdaging tijdens opdrachten en projecten voor
                    <span class="accentuate">Belgische topbedrijven</span>.
                </li>
                <li>Een dynamische hightech omgeving met focus op kennis en voortdurende innovatie.</li>
                <li>Actieve Competence Centers zijn ons laboratorium voor nieuwe technologieën en kennisdeling</li>
                <li>Continu leren met coaching, mentoring, sparring partners en 24/7 interactie met ons team van +100
                    developers, architecten, analisten, ...
                </li>
                <li>Een open no-nonsens bedrijfscultuur waarin experimenten worden gestimuleerd. #Failfast.</li>
                <li>Doorgroeimogelijkheden binnen de verschillende lagen van de organisatie.</li>
                <li>Veel fun en nevenactiviteiten van klein feest aan de toog op kantoor tot groot met de unit op
                    weekend.
                </li>
                <li>Platte organisatiestructuur. Business Units zijn onze pods.</li>
                <li>Een <span class="accentuate">Macbook</span> of Windows laptop met <span
                        class="accentuate">IntelliJ</span> voor de professionals :)
                </li>
            </ul>
        </div>
    </div>
</section>