---
layout: default
---


<section id="one" class="wrapper spotlight style1">
    <div class="inner" style="text-align: left;">
        <div class="content">
            {{ content }}
        </div>
    </div>
</section>

<section id="two" class="wrapper alt spotlight style2">
    {% for a in page.authors %}

    {% assign author = site.data.authors[a] %}
    <div class="inner">
        <a href="{{ author.permalink | prepend: site.baseurl }}" class="image">
            <img src="{{ '/img/author/' | append: author.avatar | prepend: site.baseurl }}"
                 alt="{{ author.name }}" class="img-responsive p-image"/>
        </a>

        <div class="content">
            {% if author.bio %}
            <p>{{ author.bio | markdownify }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>

{% if page.comments %}
<section id="three" class="wrapper spotlight style3">
    <div class="inner">
        <div class="content">
            <div id="disqus_thread"></div>

            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
                powered by Disqus.</a></noscript>
        </div>
    </div>
</section>
{% endif %}
