---
layout: default
---

<section id="one" class="wrapper spotlight style1 post-body">
    <div class="inner" style="text-align: left;">
        <div class="content">
            {{ content }}
        </div>
    </div>
    <div class="share-page" >
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.url }}" rel="nofollow" target="_blank" title="Share on LinkedIN">
            <img src="{{ '/img/social-media/LinkedIn.png' | prepend: site.baseurl }}"
                 alt="Share on LinkedIn" />
        </a>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
            <img src="{{ '/img/social-media/Twitter.png' | prepend: site.baseurl }}"
                 alt="Share on Twitter" />
        </a>
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
            <img src="{{ '/img/social-media/Facebook.png' | prepend: site.baseurl }}"
                 alt="Share on Facebook" />
        </a>
    </div>
</section>

{% if page.authors != empty %}
<section id="two" class="wrapper alt spotlight style2">
    {% for author in page.authors %}
    <div class="inner">
        <a href="{{ author.permalink | prepend: site.baseurl }}" class="image spotlight-image">
            <img src="{{ '/img/author/' | append: author.avatar | prepend: site.baseurl }}"
                 alt="{{ author.name }}" class="p-image"/>
        </a>

        <div class="content">
            {% if author.bio %}
            <p>{{ author.bio | markdownify }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>
{% endif %}

{% if page.comments %}
<section id="three" class="wrapper spotlight style3">
    <div class="inner">
        <div class="content">
            <div id="disqus_thread"></div>

            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
                powered by Disqus.</a></noscript>
        </div>
    </div>
</section>
{% endif %}