---
layout: default
---

<div class="post">
    {% assign author = site.data.authors[page.author] %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ page.title }}</h1>
            <p id="post-meta">
                Posted {{ page.date | date: "%b %-d, %Y" }}{% if page.category %} in <a href="/categories/{{ page.category | downcase | replace:' ','-' }}/">{{ page.category }}</a>{% endif %}{% if author %} by <a href="{{ author.permalink | prepend: site.baseurl }}">{{author.first_name}} {{author.last_name}}</a> {% endif %}
                {% if page.tags %}
                    <br />
                    <i class="fa fa-tags"></i>
                        {% for tag in page.tags %}
                            <a href="/tags/{{ tag | downcase | replace:' ','-' }}/">{{ tag }}</a>{% if forloop.index < forloop.length %},{% endif %}
                        {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>
    <br />
    <article class="post-content">
        {{ content }}
    </article>
    <hr />
    <blockquote>
        {% if author.bio %}
            {{ author.bio | markdownify }}
        {% endif %}
    </blockquote>
    {% if page.comments %}
        <br /><br />
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    {% endif %}
</div>
