/* Medical CSS */
/* Department page */
.medical .medic-department {
	max-width: 400px;
	margin: 20px auto;
}
.medical .medic-department .img-container {
	position: relative;
	margin-bottom: 15px;
	border-radius: 3px;
	overflow: hidden;
}
.medical .medic-department .img-container h3 {
	position: absolute;
	bottom: 20px;
	left: 0;
	color: #fff;
	padding: 5px 10px;
	font-size: 18px;
	font-weight:600;
}
/* Our doctors */
.medical .team-member .contact-details { 
	margin-top: 20px; 
	margin-bottom:20px;
}	
.medical .team-member .contact-details span{
	display: block;
	width: 100%;
	margin:10px auto;
	text-align: left;
	border-radius:2px;
	box-shadow:0px 0px 3px rgba(0,0,0,0.15);
	font-size:13px;
	font-weight:600;
}
.medical .team-member .contact-details span i{
	width: 45px;
	height: 40px;
	margin-right: 15px;
	line-height: 40px;
	font-size: 14px;
	color: #777;
	background:#fafafa;
	border-right:1px solid #eee;
	text-align: center;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
/* Appointment page */
.medical .medic-appoint .carousel {
	margin-top: 15px;
	border-radius: 6px;
	overflow: hidden; 
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
/* Treatment Page */
.medical .medic-treatment .nav a{
	font-weight:600;
}
.medical .medic-treatment .tab-pane .img-treat { 
	width: 100%;
	max-width: 350px;
	margin-left: 15px;
	margin-top:5px;
	float: right; 
}
.medical .medic-treatment .tab-pane p { 
	text-align: justify; 
}
.medical .medic-treatment .tab-content{
	padding:10px 25px 20px 25px;
}
.medical .medic-treatment .tab-pane  .doc-details{
	max-width:500px;
}
.medical .medic-treatment .tab-pane  .doc-details .img-dr { 
	width: 100%;
	max-width: 130px;
	float:left;
}
.medical .medic-treatment .tab-pane  .doc-details .doc-info{
	margin-left: 145px;
}
@media (max-width:480px){
	.medical .medic-treatment .tab-pane  .doc-details .img-dr { 
		margin-bottom: 10px;
		float:none;
	}
	.medical .medic-treatment .tab-pane  .doc-details .doc-info{
		margin-left: 0px;
	}
}
.medical .medic-treatment .tab-pane  .doc-details h6 span{
	font-weight:400;
}
.medical .medic-treatment .tab-pane  .doc-details .btn{
	margin-top:5px;
}