/* Real estate CSS */
.rs-property .table td,
.rs-property .table th{ 
	padding:10px;
}
.rs-property .table-responsive{
	border:0px;
}
/* Property map */
.property-map h5,
.gmap h5{
	font-size:14px !important;
	line-height:19px !important;
	color:#444 !important;
	margin-bottom:5px !important;
	font-family:"Open Sans", sans-serif !important;
}
.property-map p,
.gmap p{
	color: #444 !important;
	font-size: 12px !important;
	line-height: 20px !important;
	font-family: "Open Sans", sans-serif !important;
}
/* Sidebar widget */
.s-widget .hot-properties li{
	margin-bottom:10px;
}
.s-widget .hot-properties li img{
	float:left;
	max-width:80px;
}
.s-widget .hot-properties li h4{
	font-size:14px;
	line-height:24px;
	margin-left:90px;
}
.s-widget .hot-properties li .price{
	margin-left:90px;
	display:block;
	color:#999;
}
/* Real estate form */
.real-estate .re-big-form{
	padding: 40px 0;
	background: #fff url('../../img/backgrounds/heading-back.jpg') center center no-repeat fixed;
}
.real-estate .re-big-form h2 {
	display: inline-block;
	margin-bottom: 20px;
	background: rgba(0,0,0,0.4);
	color: #fff;
	padding: 10px 15px;
	font-weight:400;
}
.real-estate .re-big-form .tab-content { 
	background: #fff; 
}
.real-estate .re-big-form form label {
	font-size: 13px;
	margin:10px 0px;
	color: #666;
}
.real-estate .re-big-form form .btn{
	margin-top:40px;
}
@media (max-width: 767px){
	.real-estate .re-big-form form  .btn {
		margin-top: 10px;
	}
}
/* Our agents */
.rs-property .team-member .contact-details { 
	margin-top: 20px; 
	margin-left:30px;
}
.rs-property .team-member .contact-details span{
	display: block;
	text-align: left;
	font-size:14px;
	margin-bottom:8px;
}
.rs-property .team-member .contact-details span i{
	margin-right: 15px;
}
/* Agency detail */
.rs-agency .agency-item {
	margin: 15px auto;
	padding: 15px 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.rs-agency .agency-item span{
	margin:5px 0px;
	display:inline-block;
}
.rs-agency .agency-item .agency-contact i {
	color:#fff;
}
/* Enquiry Page */
.re-contact-area img {
	width: 100%;
	max-width: 220px;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 15px;
	float: left;
}
.re-contact-area .contact-info { 
	display: block; 
}
.re-contact-area .contact-info i {
	width: 16px;
	margin-right: 5px;
	font-size: 14px;
	text-align: center;
}
@media (max-width: 480px){
	.re-contact-area img {
		max-width: 380px;
		margin: 0 auto;
		margin-bottom: 15px;
		margin-top: 15px;
		float: none;
	}
}
/* Property */
.rs-property .property-item { 
	max-width: 480px;
	margin: 15px auto;
	padding-bottom: 5px;
}
.rs-property .property-item h4 {
	text-align: center;
	padding: 10px 0;
}
.rs-property .property-item img {
	border-radius: 4px;
}
.rs-property .property-item .img-container { 
	position: relative; 
	overflow: hidden;
}
.rs-property .property-item .img-container .hover-top {
	position: absolute;
	top: 0;
	left: 0;
	padding: 2px 12px;
	font-size: 16px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 4px;
	color: #fff;
	font-weight: 600;
}
.rs-property .property-item .img-container .hover-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 2px 12px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 4px;
}
.rs-property .property-item .property-details {
	padding: 12px 18px;
	background: #fafafa;
	border:1px solid #eee;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
.rs-property .property-item .property-details .price {
	display: block;
	font-size: 18px;
	font-weight: 600;
	color: #666;
}
.rs-property .property-item .property-details a.ecom {
	font-size: 14px;
	color: #666;
	border-bottom: 1px dashed #aaa;
}
.rs-property .property-item .p-info a {
	display: block;
	float: left;
	width: 33.33%;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	text-align: center;
	color: #666;
	margin: 0 auto;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.rs-property .property-item .p-info a:nth-child(3) { 
	border-right: 1px solid #eee; 
}
.rs-property .property-item ul { 
	margin: 15px 10px; 
}
.rs-property .property-item ul li {
	width: 50%;
	float: left;
}
/* Property map page */
.property-map {
	height: 400px;
	overflow: hidden;
}
.rs-property .map-loc-item {
	max-width: 420px;
	margin: 15px auto;
	border: 1px solid #ddd;
	padding: 5px;
	border-radius:4px;
}
.rs-property .map-loc-item .img-container {
	position: relative; 
	overflow: hidden;
}
.rs-property .map-loc-item .img-container .hover-top {
	position: absolute;
	top: 0;
	left: 0;
	padding: 2px 12px;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
}
.rs-property .map-loc-item .img-container .hover-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 2px 12px;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
}
.rs-property .map-loc-item .loc-details h4 { 
	margin-left:10px;
	margin-top:10px;
}
.rs-property .map-loc-item .loc-details ul {
	margin: 10px;
}
.rs-property .map-loc-item .loc-details ul li {
	width: 50%;
	float: left;
	margin: 0 auto;
	color: #727272;
}
/* Single Property */
.rs-property .single-property .flexslider{	
	margin-top:10px;
}
.rs-property .single-property .table-responsive{
	margin-top:10px;
}
.rs-property .single-property .sp-amenities .amen-item {
	max-width: 350px;
	margin: 10px auto;
	text-align:center;
}
.rs-property .single-property .sp-amenities img {
	width: 100%;
}
.rs-property .single-property .sp-amenities h5{
	font-weight:400;
	margin:8px 0px;
}
.rs-property .sp-locality .locality-item { 
	margin:15px 0px;
	max-width:200px;
}
.rs-property .sp-locality .locality-item i {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 25px;
	color: #fff;
	border-radius: 3px;
	float: left;
}
.rs-property .sp-locality .locality-item h5 {
	margin-left: 65px;
	font-size: 17px;
	line-height: 18px;
}
.rs-property .sp-locality .locality-item .dis {
	display: block;
	margin-left: 65px;
	color:#888;
}
.rs-property .single-property .gmap {
	margin:10px auto;
	height: 300px;
	overflow: hidden;
}
.rs-property .sp-agent img {
	width: 100%;
	max-width: 120px;
	margin-right: 15px;
	float: left;
}