/* Restaurant CSS */
.restaurant .table td,
.restaurant .table th{ 
	padding:10px;
}
.restaurant .table-responsive{
	border:0px;
}
/* Checkout page CSS */
.restaurant .rest-checkout form { 
	max-width:450px;
}
.restaurant .rest-checkout .table { 
	margin:10px auto;
}
/* Items page CSS */
.restaurant .rest-item {
	position: relative;
	max-width: 360px;
	margin: 15px auto;
	padding: 5px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
}
.restaurant .rest-item img {
	width: 100%;
	max-width: 360px;
	margin: 0 auto;
	border: 1px solid #eee;
	border-radius: 3px;
}
.restaurant .rest-item  .item-dtls h4 {
	margin-top: 15px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.restaurant .rest-item  .item-dtls .price {
	display: block;
	margin-bottom: 15px;
	font-size: 25px;
}
.restaurant .rest-item  .ecom {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding-bottom:10px;
	padding-top: 10px;
	-webkit-transition: all 0.35s ease-in;
	-moz-transition: all 0.35s ease-in;
	-ms-transition: all 0.35s ease-in;
	-o-transition: all 0.35s ease-in;
	transition: all 0.35s ease-in;
}
.restaurant .rest-item:hover  .ecom { 
	margin-top: -50px; 
}
/* Single Item CSS */
.restaurant .rest-single img { 
	margin: 5px auto; 
}
.restaurant .rest-single .table{
	margin:5px auto;
}
.restaurant .rest-single .item-ingred { 
	margin: 10px auto; 
	border-radius: 3px;
	background: #fefefe;
	border:1px solid #eee;
}
.restaurant .rest-single .item-ingred ul{
	margin:0px;
}
.restaurant .rest-single .item-ingred li {
	padding:7px 14px;
	color: #8a8a8a;
	border-bottom: 1px dashed #eee;
}
.restaurant .rest-single .item-ingred li:last-child { 
	border-bottom: 0; 
}
.restaurant .rest-single .item-ingred li i { 
	color:#aaa;
	margin-right:5px;
}
.restaurant .rest-single .item-ingred li span {
	font-weight: 600;
	float: right;
}
/* Menu page */
.restaurant .rest-menu {
	max-width:400px;
	margin: 10px auto;
	padding: 10px;
	padding-bottom:20px;
	border-bottom:1px solid #eee;
}
.restaurant .rest-menu h4 {
	text-align: center;
	text-transform:uppercase;
}
.restaurant .rest-menu img {
	display: block;
	width: 100%;
	margin: 10px auto; 
}
.restaurant .rest-menu .menu-list-item {
	margin:10px auto;
}
.restaurant .rest-menu .menu-list-item h5 {
	font-weight:400;
	text-transform:uppercase;
	font-size:14px;
	line-height:29px;
}
.restaurant .rest-menu .menu-list-item .price {
	font-weight:600;
	font-size:16px;
}
/* Nutrition Info */
.restaurant .rest-nutrition {
	max-width: 400px;
	margin: 15px auto;
}
.restaurant .rest-nutrition h4 {
	text-align: center;
	text-transform:uppercase;
	margin-bottom:10px;
}
.restaurant .rest-nutrition img { 
	margin-bottom: 10px; 
}
/* Recipe page */
.restaurant .rest-recipe img { 
	margin: 10px auto; 
}
.restaurant .rest-recipe .item-ingred { 
	margin: 10px auto; 
	border-radius: 3px;
	background: #fefefe;
	border:1px solid #eee;
}
.restaurant .rest-recipe .item-ingred ul{
	margin:0px;
}
.restaurant .rest-recipe .item-ingred li {
	padding:7px 14px;
	color: #8a8a8a;
	border-bottom: 1px dashed #eee;
}
.restaurant .rest-recipe .item-ingred li:last-child { 
	border-bottom: 0; 
}
.restaurant .rest-recipe .item-ingred li i { 
	color:#aaa;
	margin-right:5px;
}
.restaurant .rest-recipe .item-ingred li span {
	font-weight: 600;
	float: right;
}