/* About page */

.team {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.team-member {
    margin: 1em 1em;
    max-width: 200px;
    text-align: center;
}

.team-member-name {
    font-size: .9em;
    margin-bottom: 0;
}

.team-member-title {
    display: inline-block;
    font-size: .8em;
    //color: _palette(fg-header);
}

.team-member-links {
    margin-top: 1em;
    list-style: none;
    padding: 0;
    
    a {
        border:none;
    }
}

.team-member-link {
    display: inline;
    color: grey;
    
    a {
        border:none;
        color:_palette(fg-header);
    }
    
    .label {
        display: none;
    }
}

.team-member-image-holder {
    height: 200px;
    width: 200px;
    margin-bottom: 1em;
    
    a {
        border:none;
    }
}

img.team-member-image {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}