/* About page */

.team {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.team-member {
    margin: 1em 1em;
    max-width: 200px;
}

.team-member-links a {
    border: inherit;
}

.team-member-image-holder {
    height: 200px;
    width: 200px;
    margin-bottom: 1em;
    
    a {
        border:none;
    }
}

img.team-member-image {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}