.flex-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 1rem;

  &.left {
    justify-content: flex-start;
    margin-right: 1.5rem;
  }

  &.right {
    justify-content: flex-end;
    margin-left: 1.5rem;
  }

  a {
    color: #1f2831;
    border-bottom: none;
    padding: 0 .5%;
    -webkit-transition: background-color 2s, color 2s; /* Safari */
    transition: background-color 2s, color 2s;
    border-radius: 10px;

    &:hover {
      color: white!important;
      background: black;
    }
  }
}