name: Build and Deploy to Github Pages

on:
  push:
    branches:
      - source

jobs:
  jekyll:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Gen Cache
      uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile') }}
        restore-keys: |
          ${{ runner.os }}-gems-

    # Specify the Jekyll source location as a parameter
    - uses: helaili/jekyll-action@v2
      with:
        keep_history: true
        token: ${{ secrets.GITHUB_TOKEN }}
        target_branch: master
        pre_build_commands: |
          apk --update add imagemagick musl
